.page-lead-box {
  padding: 10% 8%;
}

//.p-header
.p-header {
  & .logo__img {
    margin: 30px 10px 0 100px;
  }

  & .pc-nav {
    margin: 8px 30px 0 0;
  }
}

//.p-top
.p-top {
  margin-top: 40px;

  & .swiper-container {
    height: 84vh;
  }
}

// * * * * * * * * * about-page * * * * * *
.c-about {
  & .director {
    &__career-area {
      padding: 40px 22% 30px 16%;
    }
  }

  & .clinic {
    .clinic-info-text {
      font-size: 16px;
    }
  }
}

// * * * * * * * * * expense-page * * * * * *
.expense {
  & .intro-sec {
    & .intro-img {
      width: 34%;
    }
  }

  & .privateroom-sec {
    & .privateroom-img {
      & img {
        height: 88%;
      }
    }
  }
}

// * * * * * * * * * faq-page * * * * * *
.faq-contents {
  & .c-container {
    padding: 0 10vw;
  }

  & .faq {
    margin: 10vw 0;

    &__title {
      margin-bottom: 5vw;
    }

    & .c-txtarea01 {
      margin-bottom: 10vw;
    }

    & dt {
      padding-bottom: 1.6vw;

      & span {
        &::after {
          width: 2vw;
          right: 60px;
        }
      }

      &::before {
        font-size: 32px;
      }
    }

    & dd {
      &::before {
        font-size: 34px;
      }
    }
  }
}

// * * * * * * * * * news-page * * * * * *
.c-news {
  padding: 130px 0 20px 0;
  margin-top: 0;

  .page-numbers {
    margin-top: 3vw;
  }

  &__link {
    padding: 2vw 4vw;
  }

  &__title {
    margin-bottom: 5vw;
  }
}

// * * * * * * * * * news-sl-page * * * * * *
.c-news-sl {
  padding: 0 10vw 0 10vw;
}
