body {
  font-family: 'Overpass', 'Noto Serif JP', serif;
}

a,
a:hover,
a:visited,
a:active {
  color: $cBlack;
}

.superwrapper {
  overflow: hidden;
}

.c-container {
  padding: 0 6vw;
}

.c-title {
  font-size: 18px;
  letter-spacing: 2px;
  color: $cBlack;
  text-align: center;
}

.c-txt-lr {
  font-size: 2rem;
  letter-spacing: 7px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-md {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-sm {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-xs {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.icon-tel {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-map {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-net {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}

.sec-title {
  position: relative;
  margin-bottom: 20px;
  padding-left: 70px;
  line-height: 1;

  & .c-txt-xs {
    padding: 9px 0 0 10px;
  }

  span {
    display: block;
    padding: 0 0 0 8px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url(../images/icon-access.svg) 15px 14px no-repeat;
    background-size: 30px 35px;
    background-color: #333333;
  }
}

.contents-title {
  font-size: 28px;
  color: $cBlack;
  letter-spacing: 5px;
  text-align: center;
}

.contents-subtitle {
  font-size: 18px;
  color: rgb(90, 90, 90);
  letter-spacing: 3px;
  margin-bottom: 60px;
  text-align: center;
}

// TOP
.p-top {
  position: relative;
  margin-top: 60px;

  & .swiper-container {
    border-bottom: solid 8px #ae9373;
  }
}

//NEWS
.p-news {
  position: relative;
  padding-top: 10vw;
  margin-bottom: 25%;
  background-color: #f7f5f2;

  &__copy {
    position: absolute;
    top: -22%;
    right: 8%;
    width: 38%;
    height: auto;
    overflow: hidden;
    z-index: 100;

    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.3) 100%);
      transform: skewX(-25deg);
      animation-name: shine;
      animation-duration: 6s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }

  &__sec {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 25px;

    & .ja {
      display: block;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 4px;
      left: 3px;
      width: 9px;
      height: 1px;
      background-color: #000;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 7px;
      width: 1px;
      height: 9px;
      background-color: #000;
    }
  }

  &__list {
    padding-bottom: 10px;

    & li {
      margin-bottom: 10px;
      padding-bottom: 12px;
      border-bottom: 1px solid #fff;

      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }

  &__btn {
    position: absolute;
    bottom: -30px;
    right: 0;
    padding-right: 5%;
    text-align: right;
  }

  &__link {
    font-weight: 400;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 20px 0 0 8px;
    border: 1px solid #000;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 12px;
      left: 8px;
      width: 22px;
      height: 4px;
      background: url(../images/arrow01_sp.svg) 0 0 no-repeat;
      background-size: 22px 4px;
    }
  }
}

@keyframes shine {
  0% {
    left: -75%;
  }

  34% {
    left: -75%;
  }

  40% {
    left: 125%;
  }

  100% {
    left: 125%;
  }
}

//MENU
.p-menu {
  &__btn {
    display: block;
    position: relative;
    width: 80%;
    height: 264px;
    margin: 0 0 15% 0;
    color: #fff;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 25px;
      right: 25px;
      width: 35px;
      height: 6.5px;
      background: url(../images/arrow02_sp.svg) 0 0 no-repeat;
      background-size: 35px 6.4px;
      z-index: 1000;
    }
  }

  &__btn-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(93, 60, 22, 0.56);
    text-align: center;
    z-index: 100;
  }

  &__btn-inner-text {
    margin-top: 15%;
  }

  &__btn-title {
    margin-bottom: 30px;
    line-height: 1.7;
    letter-spacing: 0.16em;

    .en {
      font-weight: 400;
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
    }

    .ja {
      font-weight: 500;
      color: $cWhite;
      font-size: 24px;

      & span {
        display: block;
        font-size: 14px;
      }
    }
  }

  &__icon {
    width: 17.6%;
    margin: 0 auto;
  }

  .second {
    margin-left: 21%;
  }
}

//DIRECTOR
.p-director {
  margin-bottom: 80px;

  &__sec {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 25px;

    & .ja {
      display: block;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 4px;
      left: 3px;
      width: 9px;
      height: 1px;
      background-color: #000;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 7px;
      width: 1px;
      height: 9px;
      background-color: #000;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__block02 {
    position: relative;
  }

  &__link {
    box-sizing: border-box;
    position: absolute;
    bottom: -43px;
    left: 5%;
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 20px 0 0 8px;
    border: 1px solid #000;
    font-size: 10px;
    line-height: 1.2;
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 12px;
      left: 8px;
      width: 22px;
      height: 4px;
      background: url(../images/arrow01_sp.svg) 0 0 no-repeat;
      background-size: 22px 4px;
    }
  }
}

//ACCESS
.p-access {
  margin-bottom: 20%;

  & .c-container {
    padding: 0;
    margin: 0 6vw;
    background-color: #f7f5f2;
  }

  &__left {
    margin-bottom: 20px;
  }

  &__text {
    padding: 0 5%;

    & p {
      margin-bottom: 20px;
    }
  }

  &__right {
    padding: 0 5% 5% 5%;
  }

  & .gmap {
    iframe {
      width: 100%;
      height: 200px;
    }
  }

  &__g-map {
    position: relative;
    display: inline-block;
    padding: 0 0 5px 20px;
    border-bottom: 1px solid rgb(150, 150, 150);

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background-image: url(../images/common/icon-map.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

//INFORMATION
.p-information {
  margin-bottom: 20%;

  & .c-container {
    padding: 0 0 15px 0;
    margin: 0 6vw;
    background-color: #f7f5f2;
  }

  &__tel {
    font-weight: 400;
    margin-bottom: 20px;
    padding: 0 5%;
  }

  .tel-num {
    font-size: 25px;

    & span {
      font-size: 15px;
    }
  }

  &__open {
    margin-bottom: 10px;
    padding: 0 2%;

    &__table {
      width: 100%;
      border-collapse: collapse;
      font-size: 12px;
      line-height: 1.6;

      & th {
        padding: 4px 2px;
        border: 1px solid #dcdcdc;
        background-color: #ae9373;
        color: #fff;
        font-size: 10px;
        text-align: center;
      }

      & .th-hour-ttl {
        width: 28%;
      }

      & .th-week01,
      & .th-week02,
      & .th-week03,
      & .th-week04,
      & .th-week05,
      & .th-week06 {
        width: 9%;
      }

      & .th-week07 {
        width: 18%;
      }

      & td {
        padding: 4px 2px;
        border: 1px solid #dcdcdc;
        vertical-align: middle;
        background-color: #fff;
        color: #000;
        font-size: 10px;
        text-align: center;

        &>img {
          width: 8px;
          height: 8px;
          vertical-align: middle;
          object-fit: cover;
        }
      }
    }
  }

  &__text {
    padding: 0 5%;
    font-size: 10px;

    & p {
      &>img {
        height: 8px;
        width: 8px;
      }

      &>span {
        display: inline-block;
        padding-left: 5px;
      }
    }
  }
}

//FOOTER
.p-footer {
  &__block01 {
    display: flex;
    margin-top: -30px;
    padding: 60px 5% 20px;
    background-color: #333;

    & p {
      color: rgb(231, 223, 223);
      font-size: 12px;
      margin-bottom: 12px;
    }
  }

  &__block02 {
    padding-bottom: 15px;
    background-color: #393939;
    text-align: center;

    & a {
      color: rgb(231, 223, 223);
      font-weight: 500;
      color: rgb(231, 223, 223);
      line-height: 2;
    }
  }

  &__nav {
    padding-top: 20px;

    & li {
      margin-bottom: 15px;
    }
  }

  .copyright {
    color: rgb(231, 223, 223);
  }
}

.page-ttl-under {
  position: absolute;
  top: 80px;
  left: 0;
  font-weight: 500;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 18px;
  letter-spacing: 0.18em;
}

.page-lead-box {
  position: relative;
  font-weight: 500;
  padding: 25% 8% 20% 23%;
  background-color: #f7f5f2;
  font-size: 14px;
  line-height: 1.8;
  color: #ae9373;
  z-index: -1;
}

.page-sub-ttl {
  text-align: center;
  margin-top: -2.6%;

  & .jpn {
    font-weight: 500;
    display: block;
    margin-bottom: 7px;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 1;
  }

  & .eng {
    font-weight: 400;
    font-size: 2.2vw;
    line-height: 1;
  }
}

//* * * * * * * * * about-page * * * * * * * * * 
.c-about {

  .director {
    margin: 60px 0 40px;
    padding-top: 60px;

    &__message-area {
      margin-bottom: 50px;
    }

    &__img {
      width: 70%;
      margin: 0 auto 30px;
    }

    &__desc {
      margin-bottom: 10px;

      & h3 {
        margin-bottom: 20px;
      }

      & .c-txt-sm {
        margin-bottom: 15px;
      }
    }

    &__career-area {
      position: relative;
      padding: 40px 8% 30px;
      background-color: #f7f5f2;

      & .career-ttl {
        position: absolute;
        top: -15px;
        left: 8%;
        width: 120px;
        height: auto;
      }

      & .career-list li {
        margin-bottom: 10px;
      }
    }
  }

  .clinic {
    margin-bottom: 40px;

    &-info-img {
      height: 200px;
    }

    .clinic-info-list li {
      position: relative;
      margin-bottom: 5%;

      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 70px;
        font-weight: bold;
        background-color: #fff;
        letter-spacing: 0.08em;
        text-align: center;
        z-index: 100;
      }
    }

    .clinic-info-text {
      padding: 20px 25px;
      background-color: #ae9373;
      color: #fff;
      font-size: 13px;
      line-height: 1.5;
    }
  }
}

//* * * * * * * * * treatment-page * * * * * * * * 
.treatment {
  margin-top: 60px;
  line-height: 1.8;
  font-size: 0.9em;
  letter-spacing: 0.1em;

  &__block {
    margin: 0 -5vw;
  }

  &__subtitle {
    text-align: center;
    margin-top: -2.6%;

    & .jpn {
      font-weight: 500;
      display: block;
      margin-bottom: 7px;
      font-size: 5vw;
      letter-spacing: 0.2em;
      line-height: 1;
    }
  }

  &__list {
    margin-bottom: 40px;

    & li {
      margin-bottom: 12%;
    }

    & .img-side {
      display: flex;
      width: 100%;
    }

    & .treatment-ttl {
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      background-color: #ae9373;
      text-align: center;
      font-size: 15px;
      color: #fff;
      height: 180px;
    }

    & .treatment-img {
      width: 50%;
      height: 180px;
    }

    & .text-side {
      padding: 5% 5% 0;
    }
  }
}

//* * * * * * * * * expense-page * * * * * * * * 
.expense {
  margin-top: 60px;
  line-height: 1.8;
  font-size: 0.9em;

  & .page-lead-box {
    margin: 0 -5vw;
  }

  .expense-sub-ttl {
    position: relative;
    margin-bottom: 20px;
    color: #ae9373;
    font-size: 18px;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 0;
      width: 5%;
      height: 1px;
      background-color: #ae9373;
    }
  }

  // <!-- info-sec -->
  .intro-sec {
    margin-top: 20px;
    margin-bottom: 40px;

    & .intro-link-area {
      margin-bottom: 30px;
    }

    & .intro-img {
      margin: 0 auto 30px;
    }

    & .intro-link {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      padding-right: 35px;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 22px;
        height: 4px;
        margin-top: -3px;
        background: url(../images/arrow01_sp.svg) 0 0 no-repeat;
        background-size: 22px 4px;
      }
    }
  }

  // <!-- recommend-sec -->
  .recommend-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 40px;

    &__inner {
      border: 1px solid #ae9373;
    }

    .recommend__ttl-side {
      position: relative;
      width: 100%;
      padding: 25px 0 20px;
      background-color: #ae9373;
    }

    .recommend__ttl {
      position: relative;
      padding-top: 30px;
      color: #fff;
      text-align: center;
      font-size: 16px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-left: -10px;
        background: url(../images/icon-recommend.svg) 0 0 no-repeat;
        background-size: 20px 20px;
      }
    }

    .recommend-list-side {
      box-sizing: border-box;
      width: 100%;
      padding: 20px 25px;
    }

    .recommend-list li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 26px;

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 15px;
        height: 12px;
        background: url(../images/icon-check.svg) 0 0 no-repeat;
        background-size: 15px 12px;
        font-size: 13px;
        line-height: 1.6;
      }
    }
  }

  // <!-- privaterroom-sec -->
  .privateroom-sec {
    margin-bottom: 40px;

    .privateroom-img {
      margin-bottom: 40px;
    }

    .privateroom-desc {

      & section {
        &:first-child {
          margin-bottom: 25px;
        }
      }

      & h4 {
        font-weight: 500;
        margin-bottom: 15px;
        color: #ae9373;
        font-size: 17px;
      }
    }
  }

  // <!-- effect-sec -->
  .effect-sec {
    position: relative;
    padding-bottom: 80px;

    .effect-list {

      & li {
        position: relative;
        margin-bottom: 25px;
        padding: 30px;
        border: 1px solid #ae9373;
        background-color: #fff;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-color: #ae9373;
        }
      }

      & h4 {
        font-weight: 500;
        margin-bottom: 15px;
        color: #ae9373;
        font-size: 18px;
      }
    }
  }

  // <!-- other-sec -->
  .other-sec {
    margin-bottom: 60px;

    .other-treatment-list {

      img {
        margin-bottom: 20px;
      }

      & .treatment01 {
        margin-bottom: 15px;
        padding: 20px 0 15px;
        background-color: #ae9373;
        text-align: center;
        font-size: 13px;

        & img {
          width: 38px;
          height: 77px;
        }

        & p {
          color: #fff;
        }
      }

      & .treatment02 {
        margin-bottom: 15px;
        padding: 20px 0 15px;
        background-color: #ae9373;
        text-align: center;
        font-size: 13px;

        & img {
          width: 56px;
          height: 60px;
        }

        & p {
          color: #fff;
        }
      }

      & .treatment03 {
        margin-bottom: 15px;
        padding: 20px 0 0;
        background-color: #ae9373;
        text-align: center;
        font-size: 13px;

        & p {
          color: #fff;
        }

        & img {
          width: 43px;
          height: 79px;
        }

        & .list-inner-left {
          padding: 10px 0 10px 0;
        }

        & .list-inner-right {
          background-color: #fff;
          border: 1px solid #ae9373;

          & p {
            color: #ae9373;
          }
        }
      }
    }
  }
}

//* * * * * * * rectuit-page * * * * * * * * * 
.contents-recruit {
  padding: 150px 0 50px 0;

  .c-table01 {
    & tr {
      padding: 12px;
      border-top: 1px solid #e3e2dc;
      display: block;
    }

    & th {
      font-weight: bold;
    }

    & td {
      line-height: 1.5;
      font-size: .8rem;
    }
  }

  @media (max-width: 599px) {
    .c-table01 {
      th {
        display: block;
      }
    }
  }

  @media (max-width:599px) {
    th {
      color: $cBlack;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  .recruit-subtitle {
    font-size: 20px;
    color: $cBlack;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10vw;
  }

  .recruit-message {
    &__block {
      padding-bottom: 10vw;
    }
  }

  .recruit-detail {
    padding: 100px 0 40px;

    &-sec {
      &.is-bottom {
        margin-top: 60px;
      }

      &__ico {
        font-family: serif;

        &.is-detail {
          &::before {
            background-image: url(../images/recruit/ico_detail01.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &.is-info {
          &::before {
            background-image: url(../images/recruit/ico_info01.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }

    &__head {
      margin-bottom: 30px;
    }
  }

  .is-bottom {
    padding: 10vw 0;

    & tr {
      &:last-child {
        border-bottom: 1px solid #e3e2dc;

      }
    }
  }
}

// * * * * * * * faq-page * * * * * * ** * * *
.faq-contents {

  .faq {
    margin: 35vw 0 30vw 0;

    .c-txt-md {
      font-size: 14px;
    }

    &__title {
      margin-bottom: 10vw;
    }

    & .c-txtarea01 {
      margin-bottom: 20vw;
    }

    & dl {
      margin-top: -8vw;
      margin-bottom: 2.6666666667vw;
    }

    & dt {
      position: relative;
      color: $cSubBlack;
      cursor: pointer;
      text-align: justify;
      transition: color 0.2s cubic-bezier(0, 0, 0.58, 1);
      padding: 2.6vw 0 6.6vw 0;

      &::before {
        content: 'Q';
        position: absolute;
        top: 4vw;
        left: 0;
        width: 12px;
        font-size: 20px;
        color: #295282;

      }

      & span {
        padding-right: 8vw;
        margin-top: 4vw;
        margin-left: 8vw;
        line-height: 1.5;
        display: block;
        position: relative;
        padding-left: 3vw;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 0;
          width: 4vw;
          height: 2.7vw;
          background-image: url(../images/common/icon_arrow_large--bottom.svg);
          background-position: top center;
          background-repeat: no-repeat;
          background-size: 100%;
          transition: all .2s;

        }
      }

    }

    & dd {

      position: relative;

      &::before {
        content: 'A';
        position: absolute;
        top: 1vw;
        left: 0;
        width: 12px;
        font-size: 22px;
        color: #295282;

      }

      & .m-description-article {
        padding-top: 5.2vw;
        margin-left: 8vw;
        font-size: 3.7vw;
        display: block;
        line-height: 2;
        padding-left: 3vw;
      }
    }

  }
}

//* * * * * * news-page * * * * * * * 
.c-news {
  padding: 150px 0 10vw 0;
  letter-spacing: 3px;

  &__item {
    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  &__link {
    display: block;
    padding: 4vw 0;
    border-bottom: 1px solid rgb(235, 235, 235);

    & p {
      margin-top: 2vw;
      font-size: .8rem;
    }

  }

  &__date {
    color: #bcbbb4;
    margin-bottom: 5px;
  }

  &__list {
    padding-bottom: 5vw;
  }

  .page-numbers {
    margin: 12vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;
    font-size: 12px;
    padding-left: 3px;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid #C4CCD1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      padding-right: 22px;
      top: 0;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(../images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 1px;
        width: 12px;
        height: 12px;
        margin-left: 8px;
      }

    }

    @media (max-width:767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width:600px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 45px;
        height: 45px;
      }

      & .next {
        top: 1px;
      }
    }

    @media (min-width:900px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 55px;
        height: 55px;
        font-size: 18px;
      }

      & .next {
        top: 2px;
        font-size: 18px;

        &::after {
          top: 4px;
        }
      }
    }
  }

  &__contents {
    line-height: 2;
    font-size: .8rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 10vw;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * news-single-page * * * * 
.c-news-sl {
  padding: 30vw 0 20vw 0;

  & .c-container {
    padding: 5vw 5vw 0 5vw;
  }

  &__date {
    color: rgb(173, 173, 173);
  }

  &__list {
    padding: 15vw 0 0 0;
  }

  &__contents {
    padding: 20vw 0 10vw 0;
    line-height: 2.5;

    & p {
      font-size: .8rem;
    }
  }

  &__link {
    margin: 0 0 10vw 0;
    text-align: right;
    font-size: .8rem;

    & a {
      border-bottom: 1px solid rgb(114, 114, 114);
    }
  }
}

//**********  スクロールダウン  ********
.scrolldown {
  display: inline-block;
  position: absolute;
  right: 25px;
  bottom: -90px;
  z-index: 2;
  padding: 10px 10px 90px;
  overflow: hidden;
  color: $cBlack;
  font-size: 14px;
  font-family: 'Josefin Sans',
    sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  writing-mode: vertical-lr;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 80px;
    background: $cBlack;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 80px;
    background: rgba(77, 77, 77, 0.4);
  }

  &::after {
    height: 30px;
    animation: sdl 2.5s ease infinite;
  }

  @keyframes sdl {
    0% {
      transform: translateY(-55px);
    }

    50%,
    100% {
      transform: translateY(30px);
    }
  }
}

@media (max-width:959px) {
  .scrolldown {
    display: none;
  }
}