$cBlack: rgb(48, 48, 48);
$cSubBlack: rgb(82, 82, 82);
$cGray: rgb(143, 143, 143);
$cWhite: rgb(255, 255, 255);
@import 'modules/mixin';
// @import 'modules/svg-animation';
@import 'breakpoints/base';
@import 'modules/hero-slider';
@import 'modules/mobile';
@import 'modules/accordion';
@import 'modules/appear';
@import 'modules/image-slide';
@import 'modules/text-animation';

@media (min-width:600px) {
  @import 'breakpoints/600up';
}

@media (min-width:960px) {
  @import 'breakpoints/960up';
}

@media (min-width:1200px) {
  @import 'breakpoints/1200up';
}